*{
  font-family: YuGothic,'Yu Gothic','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ＭＳ 明朝', 'MS Mincho','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Arial',sans-serif;
  margin:0;
  border:none;
  padding:0;
}
.inner{
  color:#282523;
  max-width:1366px;
  margin:0 auto;
  overflow-x:hidden;
  width:96%;
}
a,
a span{
  color:#2c84cc;
  font-weight: bold;
  text-decoration: none;
}
h1{
  padding-top: 18px;
  margin: 0 0 12px;
}
h2{
  padding-top: 18px;
  margin: 0 0 8px;
  a{
    color:#282523;
    cursor: text;
  }
}
.tac{
  text-align: center;
}
div#contents{
  border: 1px solid #282523;
  display: inline-block;
  padding: 8px 8px 4px;
  margin: 12px 0 18px;
  p{
    margin: 0;
    text-align: center;
  }
  ul{
    margin: 4px 0 6px;
    padding-inline-start: 1.2em;
    li{
      margin: 2px 0;
    }
  }
}
table{
  border: 1px solid #888;
  border-collapse: collapse;
  td{
    border: 1px solid #888;
    padding: 1px 4px;
    &.unitName{
      font-weight: bold;
      padding: 5px;
      text-align: center;
    }
    &.separator{
      text-align: center;
    }
    &.priority{
      white-space: nowrap;
    }
    &.small{
      font-size: 0.96em;
    }
    &.toosmall{
      font-size: 0.72em;
    }
    span.nowrap{
      display: inline-block;
      font-weight: bold;
    }
  }
}
p{
  margin: 5px 0;
}
.gekiatsu{
  color: #008839;
}
.red{
  color:#f00;
}
div#updates{
  color: #a1a499;
  font-size: 0.72em;
  margin: 36px 0 4px;
  p{
    margin: 0 0 4px;
  }
  table{
    td{
      border: 1px #ccc solid;
      p{
        margin: 0;
      }
    }
  }
}


.transparent{
  opacity:0 !important;
}
.none{
  display:none !important;
}